@tailwind base;
@tailwind components;
@tailwind utilities;

.heading{
    
    background: linear-gradient(180deg,#bba473 22%,#cfc09f 26%,#cfc09f 27%,#ffecb3 40%,#a2710f 78%)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent;
    /* color: #fff; */
    /* position: relative; */
    

}

.shadowOnImg{
    -webkit-box-shadow: 0px -5px 27px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -5px 27px 5px rgba(0,0,0,0.75);
box-shadow: 0px -5px 27px 5px rgba(138, 148, 3, 0.488);

}

html{
    @apply bg-[#510000];
}


/* #main{
    background: url('/flowers.webp') no-repeat center center fixed;
    background-size: cover;
    
} */


.memories-grid img{
    width: 100%;
    height: 100%;

    border-radius: 10px;
    @apply object-cover;


    /* padding:2rem; */
}

.para{
    @apply bg-red-900/70 text-center text-white  text-[9px] mx-1 absolute bottom-1  px-1 py-px;
}